@import '_BaseModal.module';

small {
    color: #6c757d;
}

.bottomDiv {
    display: flex; 
    gap: 10px; 
    justify-content: flex-end;
    margin-top: 20px;
}

.formDiv {
    display: grid; 
    gap: 15px; 
    max-width: 600px;
}

.formDiv div{
    display: flex; 
    gap: 10px; 
    margin-bottom: 20px;
}